/* Generic Styles */

.text-blue 
{
    color: #22195b !important;
}

.bg-blue 
{
    background-color: #22195b;
}

.set-left
{
    margin-left: 20em;
}
/*.....Generic Styles end..........*/


li.active > a.nav-link 
{
    color: black !important;
    opacity: 1 !important;
}

li > a.nav-link 
{
    color: #22195b !important;
    opacity: 0.8 !important;
}

.header_area .navbar-light button.navbar-toggler
{
    border: 1px solid #fff !important;
    border-radius: 1px;
    padding: 0.25em;
}

.side-main .hero-banner .container .row .col-lg-7 .carousel-item
{
    margin-top: 5em;
}

