/* Generic Styles */

.text-blue 
{
    color: #22195b !important;
}

.bg-blue 
{
    background-color: #22195b;
}

.set-left
{
    margin-left: 10em;
}

.heading-pad
{
    padding: 1em;
}

.heading-pad
{
    padding: 1em;
}

.pad-img
{
    padding: 1em;
    height: 7em;
}

.card-custom
{
    margin: 2%;
    background-color: #7e74c5;
}

.card-inner
{
    overflow: hidden;
}

.card-inner img{
    transition: all 1.5s ease;
}
 
.card-inner:hover img{
    transform: scale(1.5);
}
/*.....Generic Styles end..........*/

li > a.nav-link 
{
    color: #22195b !important;
    opacity: 0.8 !important;
}

.header_area .navbar-light button.navbar-toggler
{
    border: 1px solid #fff !important;
    border-radius: 1px;
    padding: 0.25em;
}

.side-main .hero-banner .container .row .col-lg-7 .carousel-item
{
    margin-top: 5em;
}

